/*small device*/
@media screen and(min-device-width:200px) and (max-device-width: 575px){
.home-center h1{
		color:white;
		font-size:12vw;
		font-weight:bold;
	}
	.home-center p{
		font-size:14px;
	}
	.home-btn .btn-member{
		margin-top:15px;
	}
	.home-btn .btn-shop{
		margin-top:15px;
	}
}
/*medium device*/
@media only screen and(min-width:576px) and (max-width: 767px){
	.home-center h1{
		font-size:10vw;
	}
	
}